.profile-header {
  height: 210px;
  width: 100%;
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #6D8A96;
  background-image: url("/images/cubes.png");
  color: #F3F3F7;
  position: sticky;
  top: 0;
}


header img {
  width: 115px;
  height: auto;
  margin-right: 20px;
}