

 nav span {
  font-family: Bungee, sans-serif;
  font-size: 200%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em 0.5em 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

p {
  margin-bottom: 0;
}

.writeTweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav i {
  color: red;
}
