.new-tweet {
color: #113D40;
width: 100%;
}

#tweet-text {
  width: 100%;
  outline: none;
  resize: none;
  color: #113D40;
  overflow-x: scroll;
  background-color: #E7ECEE;
  border: 0;
  border-color: #113D40;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  padding-bottom: 0px;
  padding-top: 25px;
  margin-bottom: 10px;
}

.button-chars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Bungee, sans-serif;
  color: #113D40;
  padding-right: 10px;
}

.tweet-button {
  background-color: #113D40;
  color: #F3F3F7;
  border: 0;
  padding: 4px 10px 4px 10px;
}